
.sidebar{
  background-color:whitesmoke;
  float: left;
  text-align: center;
  color:teal;
}

body {
  background-color:teal;
  color:yellow;
}
.profile{
  color:rgb(153, 41, 41);
  background-color:whitesmoke;
  
}
.logout{
  text-align: center;
}
.login{
  text-align: center;
}